@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@font-face {
  font-family: "Neue";
  src: url("/NeueMachina-Regular.otf");
}
:root {
  --max-width: 1240px;
  --gold: #e3c994;
  --gradient: linear-gradient(
    318.69deg,
    #663500 -78.11%,
    #764710 -61.79%,
    #9e7538 -29.16%,
    #d0ad6a 5.51%,
    #d8b97c 23.87%,
    #ead3a2 68.73%
  );
  --text-gradient: linear-gradient(
      121.64deg,
      #ead4a2 -10.94%,
      rgba(215, 183, 120, 0.195839) 53.03%,
      rgba(210, 176, 110, 0) 88.97%
    ),
    #ffffff;
  --body-gradient: linear-gradient(177.19deg, #03091d -0.35%, #07102f 99.8%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
.head {
  font-family: "Neue", sans-serif;
}
body {
  background: var(--body-gradient);
  min-height: 100vh;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.head-gr {
  background: var(--text-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.gradient-text {
  background: var(--gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.inverse {
  width: 200px;
  height: 62px;
  border: 2px solid;
  border-image-slice: 1;
  border-width: 2px;
  cursor: pointer;
  background-color: transparent;
  font-weight: 500;
  font-size: 21px;
  border-image-source: var(--gradient);
}
.cta-btn {
  width: 200px;
  cursor: pointer;
  height: 62px;
  background: var(--gradient);
  font-weight: 500;
  font-size: 21px;
  color: black;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.cls-1,
.cls-2 {
  fill: none;
  stroke: #9598ac;
  opacity: 0.8;
  isolation: isolate;
}
.cls-1 {
  stroke-dasharray: 9 9;
}
