.hero-cont {
  position: relative;
  isolation: isolate;
}
.left-hero-img {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
  object-fit: contain;
}
.center-hero {
  z-index: -1;
  top: 15%;
  right: 15%;
  max-width: 100%;
  object-fit: contain;
  position: absolute;
}
.hero {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  gap: 20px;
  padding: 300px 20px;
  min-height: 100vh;
  position: relative;
  max-width: var(--max-width);
}
.left-hero {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
}
.hero h1 {
  font-weight: 600;
  font-size: 62px;
}
.hero > img {
  width: 400px;
  align-self: flex-end;
  object-fit: contain;
}
.scroll-cont {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.scroll-cont p {
  color: white;
  opacity: 0.4;
  font-size: 14px;
  font-weight: 400;
}
@media screen and (max-width: 1200px) {
  .scroll-cont {
    display: none;
  }
  .hero {
    min-height: auto;
    padding: 160px 20px;
    flex-direction: column-reverse;
    gap: 30px;
  }
  .hero > img {
    align-self: center;
    width: 260px;
  }
  .left-hero {
    width: 100%;
  }
  .left-hero h1 {
    text-align: left;
    font-size: 44px;
  }
  .left-hero .btn-div {
    width: 100%;
    flex-direction: column;
  }
  .left-hero .btn-div button {
    width: 100%;
    height: 50px;
  }
}
@media screen and (max-width: 691px) {
  .center-hero {
    left: 50%;
    transform: translateX(-50%);
    right: initial;
    top: 30%;
  }
  .left-hero h1 {
    font-size: 24px;
  }
  .hero > img {
    width: 160px;
  }
}
