.works {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
  align-items: center;
  width: 100%;
  max-width: var(--max-width);
  margin-top: 200px;
  z-index: 30;
  padding-inline: 20px;
  overflow-x: hidden;
}
.left-works {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 60px;
  transform: translate(-30px);
  opacity: 0;
  width: 100%;
}
.works > .flex-col-head h1 {
  font-weight: 500;
  font-size: 89px;
  transform: translateX(30px);
  opacity: 0;
}
.work-text {
  display: flex;
  justify-content: flex-start;
  gap: 35px;
  position: relative;
  align-items: center;
  min-width: 416px;
  max-width: 450px;
  background: #273258;
  border-radius: 12px;
  color: white;
  padding: 24px;
  height: max-content;
}
.work-text h1 {
  font-weight: 700;
  font-size: 48px;
}
.work-text p {
  font-weight: 500;
  font-size: 24px;
}
.left-works .work-text:nth-of-type(1) {
  justify-self: flex-start;
}
.left-works .work-text:nth-of-type(2) {
  justify-self: flex-end;
}
.left-works .work-text:nth-of-type(1) {
  justify-self: flex-start;
}
.left-works .work-text:nth-of-type(4) {
  justify-self: flex-end;
}
.left-line,
.right-line {
  position: absolute;
  top: 50%;
  right: 100%;
  transform: translateY(-50%);
  height: 1px;
  width: 60px;
  opacity: 0.3;
  background-color: #6d93f8;
}
.right-line {
  right: initial;
  left: 100%;
}
.bottom-line,
.right-bottom-line {
  background-color: #6d93f8;
  position: absolute;
  top: 50%;
  right: calc(100% + 18px);
  opacity: 0.3;
  width: 1px;
  height: calc(100% + 90px);
}
.right-bottom-line {
  right: initial;
  left: calc(100% + 60px);
}
.long-line,
.long-line-right {
  transform: translateY(-50%);
  background-color: #6d93f8;
  position: absolute;
  top: 50%;
  right: calc(100%);
  width: 162px;
  opacity: 0.3;
  height: 1px;
}
.longer {
  height: calc(100% + 105px);
}
.long-line-right {
  right: initial;
  left: 100%;
}
@media screen and (max-width: 1373px) {
  .works {
    grid-template-columns: 1fr auto;
    gap: 10px;
  }
  .works > .flex-col-head h1 {
    font-size: 60px;
  }
  .left-works {
    max-width: 570px;
    justify-self: center;
  }
  .long-line,
  .long-line-right {
    width: 180px;
  }
  .bottom-line,
  .right-bottom-line {
    right: calc(100% + 60px);
  }
}
@media screen and (max-width: 1100px) {
  .works {
    grid-template-columns: 1fr;
    gap: 100px;
    margin-top: 0px;
  }
  .works > .flex-col-head {
    font-size: 60px;
    justify-self: flex-end;
    margin-right: 30px;
  }
  .left-works {
    place-items: center;
    width: 100%;
    max-width: 100%;
    justify-self: center;
    grid-row: 2/3;
    gap: 30px;
  }
  .work-text > div {
    display: none;
  }
  .work-text {
    width: 100%;
    min-width: 100%;
    padding: 12px 24px;
    border-radius: 12px;
  }
}
@media screen and (max-width: 580px) {
  .works {
    gap: 60px;
  }
  .works > .flex-col-head h1 {
    font-size: 32px;
  }
  .work-text h1 {
    font-size: 24px;
    font-weight: 700;
  }
  .work-text p {
    font-weight: 400;
    font-size: 16px;
  }
}
